body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
}

.range-brightness[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 250px;
    background: 0;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .range-brightness[type=range]:focus {
    outline: none;
  }
  .range-brightness[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ffffff;
    background-color: rgba(255, 255, 255, .45);  
    backdrop-filter: blur(5px);
    border-radius: 0;
    border: 0px solid #ffffff;
  }
  .range-brightness[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #8b8b8b;
    border: 0;
    height: 40px;
    width: 0px;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: -100vw 0 0 100vw #ffffff;
  }
  .range-brightness[type=range]:focus::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, .45);  
    backdrop-filter: blur(5px);
  }

  .rotate {
      transform: rotate(270deg);
  }

  .range-warpper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-brightness {
    width: 32px;
    color: #ffffff;
    margin-left: 10px;
    filter: invert(1);
    cursor: pointer;
  }

  .full-screen-btn {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    filter: invert(1);
    margin: 0;
    padding: 0;
  }

  .img-full-screen {
    width: 24px;
    margin: 10px;
    cursor: pointer;
  }

  .img-closs {
    width: 24px;
    margin: 10px;
    display: none;
    cursor: pointer;
  }

  .word-exit {
    display: none;
    cursor: pointer;
  }

  .word-enter {
    cursor: pointer;
  }

  .fade-out {
	-webkit-animation: fade-out 1s ease-out both;
            animation: fade-out 1s ease-out both;
  }
  .fade-in {
        -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }